<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDautorepuestoConnectionString1" connectionString="Data Source=ERASMOMARRO3CD9;Initial Catalog=BDautorepuesto;Persist Security Info=True;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
        <add name="BDautorepuestoConnectionString" connectionString="Data Source=ERASMOMARRO3CD9;Initial Catalog=BDautorepuesto;Persist Security Info=True;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
        <add name="UI.Properties.Settings.BDautorepuestoConnectionString"
            connectionString="Data Source=ERASMOMARRO3CD9;Initial Catalog=BDautorepuesto;Persist Security Info=True;User ID=sa;Password=database" />
        <add name="UI.Properties.Settings.BDautorepuestoConnectionString1"
            connectionString="Data Source=ERASMOMARRO3CD9;Initial Catalog=BDautorepuesto;Persist Security Info=True;User ID=sa;Password=database" />
        <add name="DAL.Properties.Settings.BDautorepuestoConnectionString"
            connectionString="Data Source=ERASMOMARRO3CD9;Initial Catalog=BDautorepuesto;Persist Security Info=True;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.BDautorepuestoConnectionString1"
            connectionString="Data Source=ERASMOMARRO3CD9;Initial Catalog=BDautorepuesto;Persist Security Info=True;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.BDautorepuestoConnectionString2"
            connectionString="Data Source=ERASMOMARRO3CD9;Initial Catalog=BDautorepuesto;Persist Security Info=True;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>