<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BDautorepuestoConnectionString1" connectionString="Data Source=186.151.164.166;Initial Catalog=BDautorepuesto3;Persist Security Info=True;User ID=sa;Password=Aut0S@nju@n"
            providerName="System.Data.SqlClient" />
        <add name="BDautorepuestoConnectionString" connectionString="Data Source=186.151.164.166;Initial Catalog=BDautorepuesto3;Persist Security Info=True;User ID=sa;Password=Aut0S@nju@n"
            providerName="System.Data.SqlClient" />
        <add name="UI.Properties.Settings.BDautorepuestoConnectionString"
            connectionString="Data Source=186.151.164.166;Initial Catalog=BDautorepuesto3;Persist Security Info=True;User ID=sa;Password=Aut0S@nju@n" />
        <add name="UI.Properties.Settings.BDautorepuestoConnectionString1"
            connectionString="Data Source=186.151.164.166;Initial Catalog=BDautorepuesto3;Persist Security Info=True;User ID=sa;Password=Aut0S@nju@n" />
        <add name="DAL.Properties.Settings.BDautorepuestoConnectionString"
            connectionString="Data Source=186.151.164.166;Initial Catalog=BDautorepuesto3;Persist Security Info=True;User ID=sa;Password=Aut0S@nju@n"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.BDautorepuestoConnectionString1"
            connectionString="Data Source=186.151.164.166;Initial Catalog=BDautorepuesto3;Persist Security Info=True;User ID=sa;Password=Aut0S@nju@n"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.BDautorepuestoConnectionString2"
            connectionString="Data Source=186.151.164.166;Initial Catalog=BDautorepuesto3;Persist Security Info=True;User ID=sa;Password=Aut0S@nju@n"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>